:root {
	--color-background: white;
    --color-foreground: black;

    /* --color-foreground: #f9c5c1; */
    --color-light-gray: #ddd;
}

* {
	margin: 0;
	padding: 0;
}

html {
    /* background: var(--color-background); */
    background-color: #f8f8f8;
	color: var(--color-foreground);
}

body {
    font-family: "Noto Sans JP";
}

a {
	color: var(--color-foreground);
	text-decoration: none;
}

ul {
	list-style-type: none;
}

.layout {
    min-height:100vh;
}